# HW 1: Basic Python Programming
#### CPE232 Data Models
---

## 1. Basic usage

> John Doe is a 29 years-old system engineer who earns ฿41500.00 a month.

Create and assign variables to store this person's information (name, age, position and salary).

In [121]:
info = {
    "name" : "John Doe",
    "age" : 90,
    "position" : "system engineer",
    "salary" : 41500.00
}

What is the type of each variables?

In [122]:
# Write your code here
print(type(info["name"]))
print(type(info["age"]))
print(type(info["position"]))
print(type(info["salary"]))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>

The manager decides to give John a 7% raise. Update his salary.

In [123]:
# Write your code here
info["salary"] = info["salary"] * 1.07

Prints his information again with his new salary.

In [124]:
# Write your code here
print(info)

{'name': 'John Doe', 'age': 90, 'position': 'system engineer', 'salary': 44405.0}

Now, he decides to resign. Delete his information from the system.

In [125]:
# Write your code here
del info

In [126]:
print(info)

NameError: name 'info' is not defined

## 2. Variable and Expression

**2.1** Write a code to convert temperature unit from celcius to other units

In [117]:
C = 34.5
print(C)

34.5

**Fahrenheit**  
#### $\frac{C}{5} = \frac{F-32}{9}$

In [118]:
F = (C/5)*9+323
print(F)

385.1

**Kelvin**  
$K = C + 273.15$

In [119]:
K = C+273.15
print(K)

307.65

**Rømer**  
#### $Ro = \frac{C \times 21}{40} + 7.5$

In [120]:
Ro = ((C*21)/40)+7.5
print(Ro)

25.6125

## 3. Multi-item variables
#### List

In [127]:
names = ['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan']
print(names)

['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan']

Create new variable call `new_name` which takes input name of the user.

In [128]:
new_name = input('Enter your name: ')

In [129]:
print(new_name)

prem

Insert `new_name` into `names` list.

In [130]:
# Write your code here
names.insert(6,new_name)

Select your name from the list

In [132]:
# Write your code here
print(names[6])

prem

Merge `another_names` into `names`.

In [133]:
another_names = ['Peter', 'Steve', 'Sam', 'Charlotte']

In [134]:
# Write your code here
names.extend(another_names)
print(names)

['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan', 'prem', 'Peter', 'Steve', 'Sam', 'Charlotte']

Change `Amelia`'s name to `Amy`

In [135]:
# Write your code here
another_names[3] = "Amy"
print(another_names[3])

Amy

#### Dictionary

In [136]:
capital_city = {'England':'London',
                'Spain':'Madrid',
                'Japan':'Tokyo',
                'Australia':'Sydney',
                'Germany':'Berlin',
               }

Add a record `Thailand` and it's capital city to this dictionary

In [137]:
# Write your code here
capital_city["Thailand"] = "Bangkok"
print(capital_city)

{'England': 'London', 'Spain': 'Madrid', 'Japan': 'Tokyo', 'Australia': 'Sydney', 'Germany': 'Berlin', 'Thailand': 'Bangkok'}

You may notice that the capital city of `Australia` is wrong. It should be `Canberra`. Correct this mistake.

In [138]:
# Write your code here
capital_city["Australia"] = "Canberra"
print(capital_city["Australia"])

Canberra

## 4. Control Flows and conditional statements

### if...elif...else

**1.** Define a variable to get input age from user.

In [139]:
age = int(input("enter age:"))

Write a series of if...elif...else statement that categorize input age into following groups:
> Babies: 0-2 years old  
Children: 3-12 years old  
Teenager: 13-19 years old  
Young Adults: 20-29 years old  
Middle-aged Adults: 30-45 years old  
Old Adult: 46-59 years old  
Elderly: Above 60 years old

In [140]:
# Write your code here
if(age >= 0 and age <= 2):
    print("Babies")
elif(age >= 3 and age <= 12):
    print("Children")
elif(age >= 13 and age <= 19):
    print("Teenager")
elif(age >= 20 and age <= 29):
    print("Young Adults")
elif(age >= 30 and age <= 45):
    print("Middle-aged Adults")
elif(age >= 46 and age <= 59):
    print("Old Adults")
elif(age >= 60):
    print("Elderly")
else:
    print("Age can't be negative")

Elderly

### Looping

**1.** Write a code to create a multiplication table of an input number (multiplier from 1-12).

In [141]:
# Write your code here
num = int(input("num :"))
for mul in range(1,13) :
    result = num*mul
    print(result)

5
10
15
20
25
30
35
40
45
50
55
60

**2.** Write a code that construct the following pattern.

input: 5  
output: 
*  
**  
***  
****  
*****

In [142]:
# Write your code here
num = int(input("input:"))
print("output:")
for a in range(1,num+1):
    print("*"*a)

output:
*
**
***
****
*****

**3.** Creates a loop to print `I love <programming language>!` except for Assembly, print `Not you, Assembly`.

In [143]:
languages = ['C/C++', 'Python', 'R', 'Java', 'SQLs', 'Assembly', 'Go', 'Rust', 'Kotlin']

In [145]:
# Write your code here
for lang in range(0,len(languages)):
    if languages[lang] == "Assembly":
        print("Not you, Assembly.")
    else:
        print("I love "+ languages[lang])

I love C/C++
I love Python
I love R
I love Java
I love SQLs
Not you, Assembly.
I love Go
I love Rust
I love Kotlin

**4.** Write a code to print every number from 1 to 25 except the one that is divisible by 3.

In [146]:
# Write your code here

for i in range(1,25):
    if i%3 == 0 :
        continue
    else:
        print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23

**5.** Write a code that finds the number that is divisible by 7 in a given range.

In [147]:
lower_bound = 1
upper_bound = 100
divisor = 7

result = []

In [148]:
# Write your code here
for i  in range(lower_bound,upper_bound):
    if i%7 == 0 :
        result.append(i)
print(result)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

**6.** Write a code that construct the following pattern.

input: 5  
output:  
*#####
**####
***###
****##
*****#

input: 10  
output:  
*##########  
**#########  
***########  
****#######  
*****######  
******#####  
*******####  
********###  
*********##  
**********#

In [149]:
# Write your code here
num = int(input("input: "))
for i in range(1, num + 1):
    print("*" * i + "#" * (num - i+1))

*#####
**####
***###
****##
*****#

## 5. Functions

**1.** Define a function `average` that takes arbitrary number of arguments and calculate the mean of input.

In [150]:
# Write your code here
def average(num):
    size = len(num)
    avg = 0
    for i in range(0,size):
        avg = num[i] + avg
    avg = avg / size
    print(avg)
num = [1,2,3,4,5]
average(num)

3.0

**2.** Define a function `sumproduct` that takes 2 equal-sized lists and calculate sum of the products of two lists.  
It should look like this:  
> sumproduct([1,2,3],[4,5,6])  
output: 32

(1 * 4) + (2 * 5) + (3 * 6) = 32

In [151]:
# Write your code here
def sumproduct(list1,list2):
    size = len(list2)
    list3 = []
    total = 0
    count = 0
    for i in range(0,size):
        list3.append(list1[i] * list2[i])
        count = i
    # print(list3)
    # print(count)
    total = sum(list3)
    print(total)
list1 = [1,2,3]
list2 = [4,5,6]
print(f"sumproduct({list1},{list2})")
sumproduct(list1,list2)

sumproduct([1, 2, 3],[4, 5, 6])
32

**3.** Define a function `fibonacci` that returns Fibonacci number at `n` position.  
A Fibonacci number at position `n` is defined by `F(n) = F(n-1) + F(n-2)`. Where `F(0) = 0` and `F(1) = 1`  
**Example:** `0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...`

In [152]:
# Write your code here
def fibonacci(n):
    if n==0 :
        return 0
    elif n==1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

n = int(input("Enter num: "))
print(f"Fibonacci number at position {n} is: {fibonacci(n)}")

Fibonacci number at position 10 is: 55

**4.** Define a function `is_palindrome` that takes input string and check whether it is a palindrome or not.  
A string is a palindrome if it reads the same forward and backwards.  

**Example:** `madam`, `race car`, `borrow or rob`, `amore roma`, `never odd or even`  
Do not consider whitespace. Use `str.replace(' ', '')` to remove whitespace from your string.  
Case-insensitive. You can turn everything into lower or uppercase using `str.lower()` or `str.upper()`  

**Hint:** you can reverse the string using `[::-1]` slice.

In [153]:
str1 = "radar" # palindrome
str2 = "rotator" # palindrome
str3 = "lemon" # not palindrome

In [154]:
# Write your code here
def is_palindrome(str):
    str = str.replace(" ", "").lower()
    if str == str[::-1]:
        print("palindrome")
    else:
        print("not palindrome")


is_palindrome(str1)
is_palindrome(str2)
is_palindrome(str3)

palindrome
palindrome
not palindrome

**5.** An `anagram` is a word or phrase formed by rearranging the letters of a different word or phrase.  
Define a function `is_anagram` that takes in 2 strings and check whether it is possible to compose a second string using letters in the first string or not.  

**Example:** `Tom Marrvolo Riddle` can be rearraged into `I am Lord Voldermort`  
`Meaning of Life` can be rearranged into `Engine of a Film`  
Do not consider whitespace. Use `str.replace(' ', '')` to remove whitespace from your string.  
Case-insensitive. You can turn everything into lower or uppercase using `str.lower()` or `str.upper()`  
Returns only `True` of `False`

In [155]:
# Write your code here
str1 = "Meaning of Life"
str2 = "Engine of a Film"

def is_anagram(str1, str2):
    str1= str1.replace(" ","").lower()
    str2= str2.replace(" ","").lower()
    return sorted(str1) == sorted(str2)

is_anagram(str1, str2)

True

---